<div class="sidenav">
    <button (click)="filterCategory('category1')">Jwellery</button>
    <button (click)="filterCategory('category2')">Kids</button>
    <button (click)="filterCategory('category3')">Sarees</button>
    <button (click)="filterCategory('category4')">Chudi</button>
    <button (click)="filterCategory('category5')">Nighty</button>
  </div>
  
  <div class="content">
    <div *ngFor="let item of filteredItems">
      {{ item.name }} <!-- Display filtered items here -->
    </div>
  </div>
  